#wrapper {
    width: 900px;
    margin: 0 auto;
}


body {
    background: #000000;
}


h1 {
    font-size: 150px;
    line-height: -20;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

p, a {
    font-size: 50px;
    line-height: 0%;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: white;
}

.heading {
    color: red;
}